/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.navbar {
    background-color: #c4c4c4;
    height: 75px;
    margin-top: 0px;
    padding: 0px 0px 5p 2x 0px;
    width: 100%;
    padding-left: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    padding-left: 5em;
}

.nav-item {
    padding-left: 2em;
}

.main {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: flex-start;
}

.filter-container {
    width: 25%;
    background-color: #c2c2c2;
    min-height: 15em;
}

.news-container {
    width: 70%;
    background-color: #b2b2b2;
    min-height: 40em;
}

.news-item {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 1em;
}

.news-title {
    display: flex;
    flex-direction: flex-start;
    padding-left: 2em;
}

.pill-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 1em 0 1em;
    margin-top: 1.25em;
}

.pill {
    margin: 0px 0.5em 0px 0.5em;
    padding: 2px 1em;
    background-color: #293c4b;
    color: white;
    border: 2px solid #293c4b;
    border-radius: 10px;
    font-size: 12px;
}

button {
    background: none;
    border: none;
}

.active-pill {
    margin: 0px 0.5em 0px 0.5em;
    padding: 2px 1em;
    background-color: transparent;
    color: #293c4b;
    border: 2px solid #293c4b;
    border-radius: 10px;
    font-size: 12px;

}

button:focus {
    outline: none;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
}

.news-title {
    padding-top: 1.5em;
    padding-bottom: 1em;
    justify-content: center;
    align-items: center;
}

.news-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.margin-left {
    margin-left: 10%;
}

.divider {
    border: 1px solid darkgrey;
    width: 90%;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}











